body,html {
  height: 100%;
  margin: 0;
  background-image: url('../img/bubblesky.jpg');
  background-size: cover;
  color: #555555;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5cm;
}

.container {
  text-align:center;
  margin-top: 100px;
  margin-bottom: 400px;
  display: flex;
  justify-content: center;
  height: 100%;
}

h2 {
  text-align:center;
  color:#10003f;
}

h3 {
  font-style: normal;
  font-weight: bold;
  line-height: 50%;
  text-align:center;
  color:#10003f;
}
h6 {
  text-align:center;
  color: #544c73;
}

.album {
  box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
  text-align: center;
  border-radius: 25px;
  vertical-align:middle;
}

.fan {
  border-radius: 10px;
}

.card-title {
  font-family: 'cutefont',sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  color:#10003f;
  text-shadow: 1px 1px 0px #f0c6e3;
}

button {
  background-color: #2b42df;
  color: #f0c6e3;
  border: none;
  border-radius:  12px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'cutefont',sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration:0.4s;
  text-shadow: 2px 2px 0px #000000;

}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,.24),
  0 17px 50px 0 rgba(0, 0, 0,.19);

}

@font-face {
  font-family: 'cutefont';
  src:url('../img/cutefont.ttf')format(truetype);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.header {
    font-family: 'cutefont',sans-serif;
    padding: 30px 10px;
    font-size: 25px;
    font-style: italic;
    color: #fe298a;
    text-align:center;
    text-shadow: 2px 2px 20px #000000;
}
